[mcu AFC]
#canbus_uuid: 5e2f7706968e
#canbus_uuid: change_me_to_canbus_id
serial: /dev/serial/by-id/usb-Klipper_stm32g0b1xx_2B002C000950415833323720-if00

#[include mcu/AFC_Lite.cfg]

[force_move]
enable_force_move: True

[include mcu/*.cfg]
[mcu MMB]
canbus_uuid: adb8df2f13fa
[temperature_sensor MMB]
sensor_type: temperature_mcu
sensor_mcu: MMB

[AFC_HTLF HTLF_1]
hub: HTLF_1
extruder: extruder
buffer: TurtleNeck
drive_stepper: HTLF_Drive
selector_stepper: HTLF_Selector
home_pin: MMB:HOME_POS
cam_angle: 45                   # Which cam lobe is being used 30,45,60
mm_move_per_rotation: 32        # How much mm it takes to do a full rotation
MAX_ANGLE_MOVEMENT:200

[AFC_stepper HTLF_Drive]
unit: HTLF_1
step_pin: MMB:M1_STEP
dir_pin: !MMB:M1_DIR
enable_pin: !MMB:M1_EN
microsteps: 16
rotation_distance: 28.8
gear_ratio: 80:16
long_moves_speed:300
long_moves_accel:300

[tmc2209 AFC_stepper HTLF_Drive]
uart_pin: MMB:M1_UART
uart_address: 0
run_current: 0.8
sense_resistor: 0.110

[AFC_stepper HTLF_Selector]
unit: HTLF_1
step_pin: MMB:M2_STEP
dir_pin: !MMB:M2_DIR
enable_pin: !MMB:M2_EN
microsteps: 16
rotation_distance: 40
gear_ratio: 80:16

[tmc2209 AFC_stepper HTLF_Selector]
uart_pin: MMB:M2_UART
uart_address: 0
run_current: 0.8
hold_current: 0.6
sense_resistor: 0.110

[AFC_lane lane1]
unit: HTLF_1:1
dist_hub: 100
led_index: AFC_Indicator_1:4
long_moves_speed: 200
long_moves_accel: 100
load: !MMB:LOAD1
dist_hub: 100 

[AFC_lane lane2]
unit: HTLF_1:2
dist_hub: 100
led_index: AFC_Indicator_1:3
load: !MMB:LOAD2
dist_hub: 100 

[AFC_lane lane3]
unit: HTLF_1:3
dist_hub: 100
led_index: AFC_Indicator_1:2
load: !MMB:LOAD3
dist_hub: 100 

[AFC_lane lane4]
unit: HTLF_1:4
dist_hub: 100
led_index: AFC_Indicator_1:1
load: !MMB:LOAD4
dist_hub: 100 

[AFC_hub HTLF_1]
afc_bowden_length: 1750        # Length of the Bowden tube from the hub to the toolhead sensor in mm.
move_dis: 60                   # Distance to move the filament within the hub in mm.
hub_clear_move_dis: 55
switch_pin: TurtleNeck:PB9

[AFC_led AFC_Indicator_1]
pin: MMB:RGB1
chain_count: 4
color_order: GRBW
initial_RED: 0.0
initial_GREEN: 0.0
initial_BLUE: 0.0
initial_WHITE: 0.0

#[AFC_buffer TN]
#advance_pin: ^AFC:PE13  # set advance pin
#trailing_pin: ^AFC:PE12  # set trailing pin
#multiplier_high: 1.05   # default 1.05, factor to feed more filament
#multiplier_low:  0.95   # default 0.95, factor to feed less filament
#velocity: 0
