[mcu EBBCan]
canbus_uuid: c3eeda3755ac

# [temperature_sensor CanTool]
# sensor_type: Generic 3950
# sensor_pin: EBBCan:PA3

[temperature_sensor CanTool]
sensor_type: Generic 3950
sensor_pin: EBBCan:PA0
pullup_resistor: 2200

# [adxl345]
# cs_pin: EBBCan:gpio1
# spi_software_sclk_pin: EBBCan:gpio2
# spi_software_mosi_pin: EBBCan:gpio0
# spi_software_miso_pin: EBBCan:gpio3
# axes_map: z,-y,x

[lis2dw]
cs_pin: EBBCan:PB1
spi_bus:spi2_PB2_PB11_PB10
axes_map: x,y,z

# [tmc2209 extruder]
# uart_pin: EBBCan:PB14
# run_current: 0.70
# stealthchop_threshold: 0

[tmc2209 extruder]
uart_pin: EBBCan:PB3
run_current: 0.650
sense_resistor: 0.110

[fan]
pin: EBBCan:PD3
max_power: 1.0
kick_start_time: 0.5

[heater_fan hotend_fan]
pin: EBBCan:PA5
heater: extruder
heater_temp: 50.0

[controller_fan toolhead_fan]
pin: EBBCan:PD2
kick_start_time: 0.5
heater: extruder
stepper: extruder
fan_speed: 1.0

#[filament_switch_sensor LoadCheck]
#switch_pin: ^EBBCan:gpio6
#pause_on_runout: false
#runout_gcode:
#  RESUME

