#5e2f7706968e afc lite

[include mainsail.cfg]
[include h36_combo_can.cfg]
#[include 8_Track/*.cfg]
[include macros.cfg]
# [include led.cfg]
# [include print_area_bed_mesh.cfg]
[include shaketune.cfg]
[include scanner.cfg]
[exclude_object]
[include AFC/*.cfg]
[include goose_purge.cfg]

[allconfig]
# # Here just to call allconfig

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32f446xx_170010000350534E4E313020-if00

[mcu RaspBerry]
serial: /tmp/klipper_host_mcu

[virtual_sdcard]
path: /home/longshot/printer_data/gcodes

[printer]
kinematics: corexy
max_velocity: 1000  
max_accel: 10000    			
max_z_velocity: 150			#Max 15 for 12V TMC Drivers, can increase for 24V
max_z_accel: 5000
square_corner_velocity: 5.0
max_accel: 20000  # should not exceed the estimated max_accel for X and Y axes

[temperature_fan MCU]
pin: PA8
sensor_type: temperature_mcu
sensor_mcu: mcu
control: watermark
min_temp: 10
max_temp: 80
target_temp: 40

[temperature_fan RaspBerry]
pin: PE5
sensor_type: temperature_host
#sensor_mcu: host
control: watermark
min_temp: 10
max_temp: 80
target_temp: 60


#####################################################################
# 	X/Y Stepper Settings
#####################################################################

## X Stepper on MOTOR0(B Motor)
[stepper_x]
step_pin: PF13
dir_pin: PF12
enable_pin: !PF14
rotation_distance: 40
microsteps: 16
full_steps_per_rotation:200  #set to 400 for 0.9 degree stepper
endstop_pin: PG6
position_min: 0
position_endstop: 350
position_max: 350
homing_speed: 75   #Max 100
homing_retract_dist: 5
homing_positive_dir: true

[tmc2209 stepper_x]
uart_pin: PC4
interpolate: True
run_current: 1.2
hold_current: 0.7
sense_resistor: 0.110
stealthchop_threshold: 0

## Y Stepper on MOTOR1 (A Motor)
[stepper_y]
step_pin: PG0
dir_pin: PG1
enable_pin: !PF15
rotation_distance: 40
microsteps: 16
full_steps_per_rotation:200  #set to 400 for 0.9 degree stepper
endstop_pin: PG9
position_min: 0
position_endstop: 350
position_max: 350
homing_speed: 75  #Max 100
homing_retract_dist: 5
homing_positive_dir: true

[tmc2209 stepper_y]
uart_pin: PD11
interpolate: True
run_current: 1.2
hold_current: 0.7
sense_resistor: 0.110
stealthchop_threshold: 0
 
#####################################################################
# 	Z Stepper Settings
#####################################################################

## Z0 Stepper - Front Left on MOTOR2_1
[stepper_z]
step_pin: PF11
dir_pin: PG3
enable_pin: !PG5
rotation_distance: 40
gear_ratio: 80:16
microsteps: 16
endstop_pin: probe:z_virtual_endstop # uses cartographer as virtual endstop
# endstop_pin:PB6 # dummy value for clog clear
# position_endstop: 0 # dummy value for clog clear
homing_retract_dist: 0  # Must be 0 for Cartographer
position_max: 340
position_min: -5
homing_speed: 10
second_homing_speed: 3

[tmc2209 stepper_z]
uart_pin: PC6
interpolate: true
run_current: 0.8
hold_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0

##	Z1 Stepper - Rear Left on MOTOR3
[stepper_z1]
step_pin: PG4
dir_pin: !PC1
enable_pin: !PA0
rotation_distance: 40
gear_ratio: 80:16
microsteps: 16

[tmc2209 stepper_z1]
uart_pin: PC7
interpolate: true
run_current: 0.8
hold_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0

##	Z2 Stepper - Rear Right on MOTOR4
[stepper_z2]
step_pin: PF9
dir_pin: PF10
enable_pin: !PG2
rotation_distance: 40
gear_ratio: 80:16
microsteps: 16

[tmc2209 stepper_z2]
uart_pin: PF2
interpolate: true
run_current: 0.8
hold_current: 0.80
sense_resistor: 0.110
stealthchop_threshold: 0

##	Z3 Stepper - Front Right on MOTOR5
[stepper_z3]
step_pin: PC13
dir_pin: !PF0
enable_pin: !PF1
rotation_distance: 40
gear_ratio: 80:16
microsteps: 16

[tmc2209 stepper_z3]
uart_pin: PE4
interpolate: true
run_current: 0.8
hold_current: 0.80
sense_resistor: 0.110
stealthchop_threshold: 0

# [extruder]
# step_pin: EBBCan:gpio18
# dir_pin: EBBCan:gpio19
# enable_pin: !EBBCan:gpio17
# microsteps: 16
# rotation_distance: 4.5652291776
# nozzle_diameter: 0.400
# filament_diameter: 1.750
# heater_pin: EBBCan:gpio7
# sensor_type: EPCOS 100K B57560G104F
# sensor_pin: EBBCan:gpio27
# control: pid
# pid_Kp: 21.527
# pid_Ki: 1.063
# pid_Kd: 108.982
# min_temp: 0
# max_temp: 335
# max_extrude_only_distance: 10000.0
# max_extrude_cross_section: 100

# [extruder]
# step_pin: EBBCan:PB14
# dir_pin: EBBCan:PA8
# enable_pin: !EBBCan:PB6
# microsteps: 16
# rotation_distance: 4.5086
# nozzle_diameter: 0.400
# filament_diameter: 1.750
# heater_pin: EBBCan:PB4
# sensor_type: PT1000
# pullup_resistor: 2200
# sensor_pin: EBBCan:PA3
# # control: pid
# # pid_Kp: 21.527
# # pid_Ki: 1.063
# # pid_Kd: 108.982
# min_temp: 0
# max_temp: 335
# max_extrude_only_distance: 10000.0
# max_extrude_cross_section: 100
# min_extrude_temp: 170 # Set to 0 for cold moves

#####################################################################
# 	Bed Heater
#####################################################################

[heater_bed]
##	SSR Pin - BED_OUT
heater_pin: PA3
sensor_type: ATC Semitec 104GT-2
sensor_pin: PF3
##	Adjust Max Power so your heater doesn't warp your bed
max_power: .8
min_temp: 0
max_temp: 120
control: pid
pid_kp: 58.437
pid_ki: 2.347
pid_kd: 363.769

[temperature_sensor chamber]
sensor_type: NTC 100K MGB18-104F39050L32
sensor_pin: PF4
min_temp: 0
max_temp: 100
gcode_id: C

#####################################################################
# 	Fan Control
#####################################################################

#[heater_fan exhaust_fan]
##	Exhaust fan - CNC_FAN3
#pin: PD13
#max_power: 1.0
#shutdown_speed: 0.0
#kick_start_time: 5.0
#heater: heater_bed
#heater_temp: 60
#fan_speed: 1.0

#####################################################################
#   Case Lights
#####################################################################
[output_pin Chamber_Light]
pin: PA2
value: 1
shutdown_value: 1

#####################################################################
# 	LED Control
#####################################################################

#[output_pin caselight]
# Chamber Lighting - HE1 Connector (Optional)
#pin: PA3
#pwm:true
#shutdown_value: 0
#value:1
#cycle_time: 0.01

#####################################################################
# 	Homing and Gantry Adjustment Routines
#####################################################################

[idle_timeout]
timeout: 36000

[safe_z_home]
##	XY Location of the Z Endstop Switch
##	Update -10,-10 to the XY coordinates of your endstop pin 
##	(such as 157,305) after going through Z Endstop Pin
##	Location Definition step.
home_xy_position:175,175
speed:500
z_hop:10

[quad_gantry_level]
gantry_corners:
	0,0
	350,350
points:
	50,25
	50,275
	300,275
	300,25
speed: 600
horizontal_move_z: 10
retries: 100
retry_tolerance: 0.02
max_adjust: 40

[bed_mesh]
zero_reference_position: 175, 175 # The centre of your bed. 
speed: 500
horizontal_move_z: 5
mesh_min: 30, 30 # The first probed coordinate, nearest to the origin. This coordinate is relative to the probe's location.
mesh_max: 270, 270 # The probed coordinate farthest from the origin. This is not necessarily the last point probed, as the probing process occurs in a zig-zag fashion. As with mesh_min, this coordinate is relative to the probe's location.
probe_count: 6, 6
adaptive_margin: 10
mesh_pps: 0,0 # Disable interpolation - mesh is probably dense enough
algorithm: bicubic

########################################
# EXP1 / EXP2 (display) pins
########################################

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PE8, EXP1_2=PE7,
    EXP1_3=PE9, EXP1_4=PE10,
    EXP1_5=PE12, EXP1_6=PE13,    # Slot in the socket on this side
    EXP1_7=PE14, EXP1_8=PE15,
    EXP1_9=<GND>, EXP1_10=<5V>,

    # EXP2 header
    EXP2_1=PA6, EXP2_2=PA5,
    EXP2_3=PB1, EXP2_4=PA4,
    EXP2_5=PB2, EXP2_6=PA7,      # Slot in the socket on this side
    EXP2_7=PC15, EXP2_8=<RST>,
    EXP2_9=<GND>, EXP2_10=<5V>

# [resonance_tester]
# accel_chip: adxl345
# sweeping_period: 0
# probe_points:
#     125,125, 20

[input_shaper]
shaper_type_x: mzv
shaper_freq_x: 58.6
shaper_type_y: mzv
shaper_freq_y: 40.8

## 	Thermistor Types
##   "EPCOS 100K B57560G104F"
##   "ATC Semitec 104GT-2"
##   "NTC 100K beta 3950"
##   "Honeywell 100K 135-104LAG-J01"
##   "NTC 100K MGB18-104F39050L32" (Keenovo Heater Pad)
##   "AD595"
##   "PT100 INA826"


[shaketune]
result_folder: ~/printer_data/config/ShakeTune_results
#    Path where the processed results will be stored. If the folder doesn't exist,
#    it will be automatically created. You can change this if you'd like to store 
#    results in a different location.
number_of_results_to_keep: 10
#    This setting defines how many results you want to keep in the result folder.
#    Once the specified number is exceeded, older results will be automatically deleted
#    to free up space on the SD card and avoid cluttering the results folder.
keep_raw_data: False
#    If set to True, Shake&Tune will store both the processed graphs and the raw accelerometer
#    .stdata files in the results folder. This can be useful for debugging or archiving purposes.
#    Please always attach them when reporting any issues on GitHub or Discord.
show_macros_in_webui: True
#    Mainsail and Fluidd doesn't create buttons for system commands (macros that are not part
#    of the printer.cfg file). This option allow Shake&Tune to inject them into the webui at runtime.
#    If set to False, the macros will be hidden but still accessible from the console by typing
#    their names manually, which can be useful if you prefer to encapsulate them into your own macros.
timeout: 600
#    This defines the maximum processing time (in seconds) to allows to Shake&Tune for generating 
#    graphs from a .stdata file. 10 minutes should be more than enough in most cases, but if you have
#    slower hardware (e.g., older SD cards or low-performance devices), increase it to prevent timeouts.
measurements_chunk_size: 2
#    Each Shake&Tune command uses the accelerometer to take multiple measurements. By default,
#    Shake&Tune will write a chunk of data to disk every two measurements, and at the end of the
#    command will merge these chunks into the final .stdata file for processing. "2" is a very
#    conservative setting to avoid Klipper Timer Too Close errors on lower end devices with little
#    RAM, and should work for everyone. However, if you are using a powerful computer, you may
#    wish to increase this value to keep more measurements in memory (e.g., 15-20) before writing
#    the chunk and avoid stressing the filesystem too much.
max_freq: 200
#    This setting defines the maximum frequency at which the calculation of the power spectral density
#    is cutoff. The default value should be fine for most machines and accelerometer combinations and
#    avoid touching it unless you know what you're doing.
dpi: 300
#    Controls the resolution of the generated graphs. The default value of 300 dpi was optimized
#    and strikes a balance between performance and readability, ensuring that graphs are clear
#    without using too much RAM to generate them. Usually, you shouldn't need to change this value.

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# pid_version = 1
#*# pid_target = 265.00
#*# pid_tolerance = 0.0200
#*# pid_kp = 37.737
#*# pid_ki = 2.960
#*# pid_kd = 120.285
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	-0.113348, -0.020217, 0.007593, 0.036766, 0.070841, -0.037881
#*# 	-0.101894, -0.037881, -0.004348, 0.022257, 0.066072, -0.048429
#*# 	-0.092837, -0.028999, 0.000576, 0.018970, 0.066072, -0.067431
#*# 	-0.104166, -0.054571, -0.030165, -0.001087, 0.051187, -0.068548
#*# 	-0.103032, -0.054571, -0.036191, -0.001087, 0.045868, -0.067953
#*# 	-0.109849, -0.060733, -0.040090, -0.006012, 0.039468, -0.057909
#*# min_x = 30.0
#*# min_y = 30.0
#*# max_x = 270.0
#*# max_y = 270.0
#*# x_count = 6
#*# y_count = 6
#*# mesh_x_pps = 0
#*# mesh_y_pps = 0
#*# algo = bicubic
#*# tension = 0.2
#*#
#*# [cartographer scan_model default]
#*# coefficients = 1.381174329728128,1.8382593407530559,0.8183430285629876,0.4212219663233799,0.5130702596604476,0.5066324135544459,-0.30489823434169355,-0.40448151792659576,0.3930411989252146,0.34056822807957693
#*# domain = 3.142964131362576e-07,3.388777709716378e-07
#*# z_offset = 0
#*# reference_temperature = 33.91
#*# software_version = 1.5.1
#*# mcu_version = CARTOGRAPHER V4 6.1.0
#*#
#*# [cartographer touch_model default]
#*# threshold = 1848
#*# speed = 2
#*# z_offset = -0.05
#*# software_version = 1.5.1
#*# mcu_version = CARTOGRAPHER V4 6.1.0
